<h1>Register Events</h1>

<i><span>The following section details the requirements for all events to become ranked.</span></i>

<div class="spacing"></div>

<p>To have your event recognized as a ranked event by eSports Universal, your event must be posted in the <a
  href="https://discord.gg/fG7f6J">#events-list</a> channel with all of the
  following:
</p>
<ul>
  <li>Day(s) of the week of the event</li>
  <li>Calendar Date of the event(s)</li>
  <li>Start time</li>
  <li>Timezone</li>
</ul>


<p>
  After two successful events have been hosted within one month, the third event will be the first officially ranked
  event under eSports Universal.
</p>

<p>
  A minimum of two events must be hosted within a four-week time frame to maintain ranked status.
</p>

<p>Host ranking status will reset if no events are held within 3 weeks.</p>

<p>
  Ranking Time Period per month:
</p>

<ul>
  <li>First Ranking = 1st - 15th</li>
  <li>Second Ranking Week = 16th - end of Month</li>
</ul>


