<app-nav-bar (toggleSideNav)="sidenav.toggle()"></app-nav-bar>
<mat-sidenav-container>
 <mat-sidenav #sidenav>
   <mat-nav-list>
<!--     ANNOUNCEMENTS-->
     <mat-list-item (click)="sidenav.toggle()" routerLink="announcements">
       Announcements
     </mat-list-item>

<!--     RANKED EVENTS-->
     <mat-list-item [matMenuTriggerFor]="events">
       Ranked Events
     </mat-list-item>
     <mat-menu #events="matMenu">
       <button mat-menu-item (click)="sidenav.toggle()" routerLink="events/ranked">
         <span>NA Ranked Events</span>
       </button>
       <button mat-menu-item (click)="sidenav.toggle()" routerLink="events">
         <s>EU Ranked Events</s>
       </button>
       <button mat-menu-item (click)="sidenav.toggle()" routerLink="events">
         <s>AS Ranked Events</s>
       </button>
       <button mat-menu-item (click)="sidenav.toggle()" routerLink="events">
         <span>Become Ranked Event</span>
       </button>
     </mat-menu>

<!--     TEAMS -->
     <mat-list-item [matMenuTriggerFor]="teams">
       Teams
     </mat-list-item>
     <mat-menu #teams="matMenu">
       <button mat-menu-item
               (click)="sidenav.toggle()"
               routerLink="teams/na/teams">
         <span>North America</span>
       </button>

       <button mat-menu-item [matMenuTriggerFor]="eu">
         <s>Europe</s>
       </button>
       <mat-menu #eu="matMenu">
         <button mat-menu-item (click)="sidenav.toggle()" routerLink="teams">
           <s>Top 10 Teams</s>
         </button>
         <button mat-menu-item (click)="sidenav.toggle()" routerLink="teams">
           <s>All Teams</s>
         </button>
       </mat-menu>

       <button mat-menu-item [matMenuTriggerFor]="asian">
         <s>Asian</s>
       </button>
       <mat-menu #asian="matMenu">
         <button mat-menu-item (click)="sidenav.toggle()" routerLink="teams">
           <s>Top 10 Teams</s>
         </button>
         <button mat-menu-item (click)="sidenav.toggle()" routerLink="teams">
           <s>All Teams</s>
         </button>
       </mat-menu>

       <button mat-menu-item (click)="sidenav.toggle()" routerLink="teams">
         <span>Register Ranked Teams</span>
       </button>
     </mat-menu>

<!--     STREAMERS-->
     <mat-list-item [matMenuTriggerFor]="streamers">
       Streamers
     </mat-list-item>
     <mat-menu #streamers="matMenu">
       <button mat-menu-item (click)="sidenav.toggle()" routerLink="streamers">
         <s>Event Streamers</s>
       </button>
       <button mat-menu-item (click)="sidenav.toggle()" routerLink="streamers">
         <s>Featured Streamers</s>
       </button>
       <button mat-menu-item (click)="sidenav.toggle()" routerLink="streamers">
         <s>All Streamers</s>
       </button>
     </mat-menu>

<!--     ABOUT-->
     <mat-list-item [matMenuTriggerFor]="about">
       About
     </mat-list-item>
     <mat-menu #about="matMenu">
       <button mat-menu-item (click)="sidenav.toggle()" routerLink="about/server">
         Server
       </button>
       <button mat-menu-item (click)="sidenav.toggle()" routerLink="about/website">
         Website
       </button>
       <button mat-menu-item (click)="sidenav.toggle()" routerLink="about/campaign">
         Campaign
       </button>
       <button mat-menu-item (click)="sidenav.toggle()" routerLink="about/sponsorships">
         Sponsorships
       </button>
     </mat-menu>
   </mat-nav-list>
 </mat-sidenav>
 <mat-sidenav-content>
   <router-outlet></router-outlet>
 </mat-sidenav-content>
</mat-sidenav-container>
