<h1>Register Team(s)</h1>

<i><span>The following section details the requirements for all teams participation in rankings</span></i>

<div class="spacing"></div>

<p>
  All teams are ranked within their respective servers. i.e. Teams in the EU servers are ranked in EU rankings.
</p>

<p>
  Teams must participate in five (5) Ranked events within a two-week time period to qualify for team rankings.
</p>

<p>Host ranking status will reset if no events are held within 3 weeks.</p>

<p>
  Ranking Time Period per month:
</p>

<ul>
  <li>First Ranking = 1st - 15th</li>
  <li>Second Ranking Week = 16th - end of Month</li>
</ul>
