$primary: (
  50 : #f3e7e7,
  100 : #e1c2c4,
  200 : #cd9a9d,
  300 : #b97176,
  400 : #aa5258,
  500 : #9b343b,
  600 : #932f35,
  700 : #89272d,
  800 : #7f2126,
  900 : #6d1519,
  A100 : #ffa5a8,
  A200 : #ff7277,
  A400 : #ff3f46,
  A700 : #ff252d,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$accent: (
  50 : #fff4e0,
  100 : #ffe4b3,
  200 : #ffd280,
  300 : #ffc04d,
  400 : #ffb326,
  500 : #ffa500,
  600 : #ff9d00,
  700 : #ff9300,
  800 : #ff8a00,
  900 : #ff7900,
  A100 : #ffffff,
  A200 : #fff8f2,
  A400 : #ffdabf,
  A700 : #ffcba6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$background: #e9c987;

$medium-screen: 768px;
$small-toolbar: 599px;
$large-toolbar: 600px;

$extra-small: 0px;
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;
