<h1>Server</h1>
<p id="server">
  Please read and abide the following by the rules of our organization:
</p>
<ol>
  <li>No spamming of any kind. No @everyone/@here tagging without permission.</li>
  <li>Politics and religion discussion must be kept to a minimum.</li>
  <li>No toxicity/hate comments/racism/sexism/harassment and bullying of any kind is allowed.</li>
  <li>Discussions should be kept respectful. Treat others how you want to be treated. ANY FORM OF DISRESPECT TO THE
    STAFF will result to being BANNED
  </li>
  <li>Please use all channels for its intended purposes. Promotion of glitches, hacks or bugs of any kind are BANNED.
  </li>
  <li>Profanity MUST be kept to a minimum. Bot does not allow it!</li>
  <li>Nicknames and pictures must be clear of any impersonation and inappropriate content. No NSFW Content</li>
  <li>Ignorance to the rules is unacceptable. It is YOUR DUTY to be informed of the server rules.</li>
  <li>Updates and changes to the rules will be posted in the #♜-announcements-♜</li>
  <li>Please leave personal problems at the door. Feuds, disagreements and miscommunications must not affect the
    performance of the server and organization.
  </li>
</ol>

<p>
  “NO unnecessary drama is allowed!”.

  Failure to abide by the rules will lead to:
  1st Warning
  2nd Muted
  3rd Kicked/Banned

  Any questions or concerns please contact the Staff


  Thank you and 𝙀𝙣𝙟𝙤𝙮 your stay!!
</p>
